Repository spiral/docs, pull requests merged in 2022-12, with the labels that each got.

#399 Adds an example of router interceptor for casting strings into ValueObjects
  docs/en/http/routing.md
Labels: enhancement, section: HTTP

#400 Adds an example of ExceptionFirewall and RedirectFirewall middlewares
  docs/en/security/authentication.md
Labels: section: HTTP

#398 Adds an example of `AppDirectories` helper class
  docs/en/start/structure.md
Labels: enhancement, section: GETTING STARTED

#393 Added new validation rules
  docs/en/validation/spiral.md
Labels: section: SECURITY

#407 Adds information about filter validation exceptions handling
  docs/en/filters/filter.md
Labels: section: SECURITY, section: VALIDATION

#414 Event intercetors
  docs/en/component/events.md
Labels: enhancement, section: Events

#415 Adds information about container inside callback function
  docs/en/framework/scopes.md
Labels: enhancement, section: FRAMEWORK

#417 Improving bootloaders docs
  docs/en/framework/bootloaders.md
Labels: enhancement, section: FRAMEWORK

#416 Replace `flip/whoops` with `yii-handler-bridge`
  docs/en/debug/exceptions.md
Labels: enhancement, section: DEBUG AND PROFILING

#419 Improves information about dumprr
  docs/en/debug/dumps.md
Labels: enhancement

#421 Update router docs
  docs/en/about/spiral.md
  docs/en/http/routing.md
Labels: enhancement, section: HTTP

#422 Updates information about monolog
  docs/en/extension/monolog.md
Labels: enhancement, section: EXTENSIONS

#424 Updates information about Queue component
  docs/en/component/broadcasting.md
  docs/en/component/cache.md
  docs/en/component/sendit.md
  docs/en/http/lifecycle.md
  docs/en/queue/configuration.md
  docs/en/queue/interceptors.md
  docs/en/queue/jobs.md
  docs/en/queue/roadrunner.md
Labels: section: QUEUE AND JOBS

#425 Updates information about GRPC installation and configuration
  docs/en/grpc/client.md
  docs/en/grpc/configuration.md
  docs/en/grpc/golang.md
  docs/en/grpc/interceptors.md
  docs/en/grpc/service.md
  docs/en/grpc/streaming.md
  docs/en/manifest.json
  docs/en/readme.md
Labels: section: GRPC

#426 Updates information about Websockets
  docs/en/broadcast/configuration.md
  docs/en/broadcast/publish.md
  docs/en/broadcast/websockets.md
  docs/en/component/broadcasting.md
  docs/en/extension/sentry.md
  docs/en/manifest.json
  docs/en/readme.md
  docs/en/websockets/configuration.md
  docs/en/websockets/interceptors.md
  docs/en/websockets/services.md
Labels: enhancement, section: Event Broadcasting
