Repository spiral/docs, pull requests merged in 2023-09, with the labels that each got.

#612 Adds information about cache prefixes
  docs/en/basics/cache.md
Labels: enhancement, section: Cache

#611 Adds information about filter casters
  docs/en/filters/configuration.md
Labels: section: REQUEST VALIDATION

#610 Fixes information about route priority
  docs/en/http/routing.md
Labels: bug, enhancement, section: HTTP

#613 Updates information about data-grid component
  docs/en/component/data-grid.md
Labels: enhancement, section: Data Grids

#619 Fix typo
  docs/en/grpc/configuration.md
Labels: bug
