Repository spiral/docs, pull requests merged in 2023-11, with the labels that each got.

#633 Adds information about registering additional directories
  docs/en/advanced/i18n.md
Labels: enhancement, section: INTERNALIZATION

#644 Updates information about Cycle ORM migrations
  docs/en/basics/orm.md
Labels: enhancement, section: CYCLE ORM

#645 Adds information about new validation rules
  docs/en/validation/spiral.md
Labels: enhancement, section: VALIDATION

#646 Fixes information about monolog log format
  docs/en/basics/logging.md
Labels: bug

#647 Updates information about prototype component
  docs/en/basics/prototype.md
Labels: enhancement

#648 Updates information about database-seeder
  docs/en/testing/database.md
  docs/en/testing/start.md
Labels: enhancement, section: CYCLE ORM, section: Testing

#658 Set the default cache storage to rr-redis as in storages config
  docs/en/basics/cache.md
Labels: bug, section: Cache

#660 Adds information about new database-seeder methods
  docs/en/testing/database.md
Labels: enhancement, section: Testing

#661 Adds information about type:bool strict mode
  docs/en/validation/spiral.md
Labels: enhancement, section: VALIDATION

#664 Adds information about handling Casting Errors
  docs/en/filters/configuration.md
Labels: enhancement, section: REQUEST VALIDATION

#665 Adds information about bootloaders loading control
  docs/en/framework/bootloaders.md
Labels: enhancement, section: FRAMEWORK

#659 Adds information about package discoverer
  docs/en/component/discoverer.md
  docs/en/manifest.json
Labels: enhancement, section: EXTENSIONS
