Repository spiral/docs, pull requests merged in 2023-08, with the labels that each got.

#591 Adds information about spiral/testing attributes
  docs/en/testing/start.md
Labels: enhancement, section: Testing

#581 Adds an article about queue system
  docs/en/cookbook/simple-queue-system.md
  docs/en/manifest.json
  docs/en/queue/jobs.md
Labels: section: COOKBOOK, section: QUEUE AND JOBS

#596 Improves information about auth token storage
  docs/en/security/authentication.md
Labels: section: SECURITY

#595 Improves information about debugging Spiral application
  docs/en/basics/debug.md
Labels: section: DEBUG AND PROFILING

#598 Improves information about scaffolder directories
  docs/en/basics/scaffolding.md
Labels: section: THE BASICS

#600 Improves information about tokenizer loaders
  docs/en/advanced/tokenizer.md
Labels: section: Tokenizer

#597 Improves information about container and scopes
  docs/en/framework/container.md
  docs/en/framework/scopes.md
Labels: section: FRAMEWORK

#603 Update queue-basics.md
  docs/en/start/queue-basics.md
Labels: bug, section: QUEUE AND JOBS
